
.error-display{
    border:solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
}
.error-display div{
    border: solid brown;
    background: rgb(245, 226, 226);
    padding: 10px;
}
